{% extends 'auth/base.html'%}
{% block title %}{{'Registarse'.capitalize()}}{% endblock %}
{%block div%}
<section class="card m-2 bg-dark text-white border border-light">
    <article class="card-body">
        <h4 class="card-title text-center">{{'registrate'.upper()}}</h4>
        <form action="{{url_for('auth.register')}}" class="form-floating text-dark" method="POST">

            <div class="form-floating mb-3  m-2">
                <input type="text" class="form-control" name="username" required>
                <label class="text-black" for="floatingInput">{{'usuario'.upper()}}</label>
            </div>
        
            <div class="form-floating mb-3  m-2">
                <input type="password" class="form-control" name="password">
                <label class="text-black" for="floatingInput">{{'contraseña'.upper()}}</label>
            </div>

            <button type="submit" class="btn btn-secondary m-2">{{'Enviar'.upper()}}</button>
            
        </form>
    </article>
</section>
{%endblock%}
