<div id="coments" class="col-md-12">
    <div class="comments text-left padDiv mb-30">
        <div class="entry-comments">
            <h6 class="mb-30">4 comments</h6>
            <ul class="entry-comments-list list-unstyled">
                <li>
                    <div class="entry-comments-item">
                        <img src="assets/img/avatar.jpg" class="entry-comments-avatar" alt="">
                        <div class="entry-comments-body">
                            <span class="entry-comments-author">Sommer Christian</span>
                            <span><a href="#">fev 14, 2018 at 12:48 pm</a></span>
                            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>
                            <a class="rep" href="#">Reply</a>
                        </div>
                    </div>
                    <ul class="entry-comments-reply list-unstyled">
                        <li>
                            <div class="entry-comments-item">
                                <img src="assets/img/avatar.jpg" class="entry-comments-avatar" alt="">
                                <div class="entry-comments-body">
                                    <span class="entry-comments-author">Sara Smith</span>
                                    <span><a href="#">fev 14, 2018 at 12:51 pm</a></span>
                                    <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna.</p>
                                    <a class="rep" href="#">Reply</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="entry-comments-item">
                        <img src="assets/img/avatar.jpg" class="entry-comments-avatar" alt="">
                        <div class="entry-comments-body">
                            <span class="entry-comments-author">Andrew Lupkin</span>
                            <span><a href="#">fev 14, 2018 at 12:55 pm</a></span>
                            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>
                            <a class="rep" href="#">Reply</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>