<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo">
            <img src="{{url_for('static', filename='images/joelicon.png')}}" alt="" class="img-fluid"/>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="#coments">Coments</a></li>
                <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>