<section id="hero" class="home">
    <div class="container">
        <div class="hero-content">
            <h1>Soy
                <span class="typed" data-typed-items="{{macros.render_name(json.name)}},{{macros.render_list_profesion(json.profesiones)}}"></span>
            </h1>
            {{macros.render_list_profesions(json.profesiones)}}
            <ul class="list-unstyled list-social">
                {{macros.render_list_social_media(json.social_media)}}
            </ul>
        </div>
    </div>
</section>