<section class="card m-2 bg-dark text-white border border-light">
    <article class="card-body">
        <h4 class="card-title text-center">datos personales</h4>
        <form action="/setting/personal" class="form-floating text-dark" method="POST">

            <div class="form-floating mb-3  m-2">
                <input type="text" class="form-control" name="nombre" required>
                <label for="floatingInput">Nombre</label>
            </div>
        
            <div class="form-floating mb-3  m-2">
                <input type="text" class="form-control" name="nombre_s">
                <label for="floatingInput">Segundo Nombre "Opcional"</label>
            </div>
        
            <div class="form-floating mb-3  m-2">
                <input type="text" class="form-control" name="apellido" required>
                <label for="floatingInput">Apellido</label>
            </div>
        
            <div class="form-floating mb-3  m-2">
                <input type="text" class="form-control" name="apellido_s">
                <label for="floatingInput">Segundo Apellido "Opcional"</label>
            </div>
        
            <div class="form-floating mb-3  m-2">
                <input type="email" class="form-control" name="correo" required>
                <label for="floatingInput">Correo</label>
            </div>
        
            <button type="submit" class="btn btn-secondary m-2">Enviar</button>
            
        </form>
    </article>
</section>