<form action="/setting/description" method="POST">

    <div class="form-floating mb-3  m-2">
        <label for="nombre">Titulo de la description</label>
        <input type="text" class="form-control" id="nombre" name="titulo" required>
    </div>

    <div class="form-floating mb-3  m-2">
        <label for="principal">Parrafo principal</label>
        <textarea class="form-control" id="principal" name="principal" required></textarea>
    </div>

    <div class="form-floating mb-3  m-2">
        <label for="Opcional">Parrafo "Opcional"</label>
        <textarea class="form-control" id="Opcional" name="Opcional" required></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>
    
</form>