<section class="card m-2 bg-dark text-white border border-light">
  <article class="card-body">
      <h4 class="card-title text-center">Agregar nuevo Curso</h4>
      <form action="/setting/curse" class="form-floating text-dark"  method="POST" enctype="multipart/form-data">
  
        <div class="form-floating mb-3  m-2">
          <input type="text" class="form-control" name="titulo" required>
          <label for="floatingInput">Titulo del curso</label>
        </div>
      
        <div class="form-floating m-2">
          <input type="text" class="form-control" name="url" required>
          <label for="floatingInput">Enlace del Curso</label>
        </div>
        
        <div class="mb-3 m-2">
          <label class="form-label text-white" >Select an SVG file:</label>
          <input type="file" class="form-control" id="svgFile" name="svgFile" accept="image/svg+xml" required>
        </div>
        
        <button type="submit" class="btn btn-secondary m-2">Enviar</button>
      
      </form>
  </article>
</section>