<form action="/setting/personal" method="POST">

    <div class="form-floating mb-3  m-2">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>

    <div class="form-floating mb-3  m-2">
        <label for="nombre_s">Segundo Nombre "Opcional"</label>
        <input type="text" class="form-control" id="nombre_s" name="nombre_s">
    </div>

    <div class="form-floating mb-3  m-2">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" required>
    </div>

    <div class="form-floating mb-3  m-2">
        <label for="apellido_s">Segundo Apellido "Opcional"</label>
        <input type="text" class="form-control" id="apellido_s" name="apellido_s">
    </div>

    <div class="form-floating mb-3  m-2">
        <label for="correo">Correo</label>
        <input type="email" class="form-control" id="correo" name="correo" required>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    
</form>