<form action="/prueba" method="POST" enctype="multipart/form-data">
    
    <div class="mb-3 m-2">
        <label for="formImagePortada" class="form-label">Subir imagen de Portada</label>
        <input class="form-control" type="file" id="formImage" name="formImagePortada" accept="image/*">
    </div>
      
    <div class="mb-3 m-2">
        <label for="formImagePerfil" class="form-label">Subir imagen de Perfil</label>
        <input class="form-control" type="file" id="formImage" name="formImagePerfil" accept="image/*">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    
</form>