<section class="card m-2 bg-dark text-white border border-light">
  <article class="card-body">
    <h4 class="card-title text-center">agregar red social</h4>
    <form action="/setting/social" class="form-floating text-white" method="POST">
  
      <div class="form-floating mb-3  m-2">
        <input type="text" class="form-control" name="titulo" required>
        <label for="floatingInput" class="text-dark">Nombre de la red social</label>
      </div>
    
      <div class="form-floating m-2">
        
        <input type="text" class="form-control" name="url" required>
        <label for="floatingInput" class="text-dark">Enlace de la red social</label>
      </div>
  
      <button type="submit" class="btn btn-secondary m-2">Enviar</button>
  
    </form>
  </article>
</section>