{% extends "setting/base.html" %}
{% block title %}{{super()}}{% endblock %}
{%block main%}
<main class="p-3 mb-2">
  <div>
    {%block div%}
    <button class="btn btn-secondary m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      DESEAS EDITAR
    </button>
    {%endblock%}
  </div>
      
  <div class="offcanvas offcanvas-start m-2 bg-secondary text-white border border-light" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{'Configuracion'.upper()}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        {{'Modifica partes del Perfil o agrega nuevos proyectos, redes sociales o cursos'.upper()}}
      </div>
      <div class="mt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.icon')}}">{{'Cambiar Icono de la web'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.personal')}}">{{'Informacion Personal'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.description')}}">{{'Descripcion Personal'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.images')}}">{{'Imagenes de Portada y Perfil'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.profesion')}}">{{'Agregar Profesion'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.social')}}">{{'Agregar Redes Sociales'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.curse')}}">{{'Agregar Nuevos Cursos'.capitalize()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('setting.Proyecto')}}">{{'Agregar Proyectos Realizados'.capitalize()}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<section class="notFound">
  <div class="img">
    <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
    <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
  </div>
        
  <div class="texts">
    <h1>AJUSTES</h1>
    <h2>DEL SISTEMA</h2>
    <h3>BACK TO HOME?</h3>
    <a href="{{url_for('index')}}" class="yes">YES</a>
    <a href="{{url_for('auth.login')}}">NO</a>
  </div>
</section>

</main>
{%endblock%}