<section id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">
                <article class="col-lg-6">
                    <div class="contact-contact">
                    <h2 class="mb-30">LET'S WORK TOGETHER</h2>
                    <!--habilitar al tener dominio
                    <ul class="contact-details">
                        <li><span>El Alto</span></li>
                        <li><span>La Paz, Bolivia</span></li>
                        <li><span></span></li>
                        <li><span>joel@jf.com</span></li> habilitar al tener dominio
                    </ul>-->
                    </div>
                </article>

                <article class="col-lg-6">
                    <form action="/email" method="POST" class="email-form">
                        <div class="row gy-3">
                            <div class="col-lg-6">
                                <section class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required/>
                                </section>
                            </div>

                            <div class="col-lg-6">
                                <section class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required/>
                                </section>
                            </div>

                            <div class="col-lg-12">
                                <section class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required/>
                                </section>
                            </div>

                            <div class="col-lg-12">
                                <section class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                                </section>
                            </div>
                            <div class="mt-0">
                                <input type="submit" class="btn btn-defeault btn-send" value="Sendmessage">
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>