<footer id="footer" class="text-center text-bg p-3">
    <div class="container">
        <article class="socials-media text-center">
            <ul class="list-unstyled">
                {{macros.render_list_social_media(json.social_media)}}
            </ul>
        </article>
        <p>&#169:2022 Copyright </p>
        <article class="credits">
            Inspiraciones
            <a href="https://www.youtube.com/c/Platzi">Platzi</a>
            <a href="https://www.youtube.com/c/HolaMundoDev">Hola_Mundo</a>
            <a href="https://www.youtube.com/c/soydalto">Soy_Dalto</a>
        </article>
    </div>
</footer>