{% macro render_name(full_name) %}
{{full_name.nombre.capitalize()}} {{full_name.apellido.capitalize()}}
{% endmacro%}

{% macro render_list_profesion(profesiones) %}
    {% for profesion in profesiones %}
                {{profesion.profesion}},
    {% endfor %}
{% endmacro %}

{% macro render_list_profesions(profesiones) %}
            <p>    
            {% for profesion in profesiones %}
                {{profesion.profesion}}
            {% endfor %}
            </p>
{% endmacro %}

{% macro render_list_social_media(social_media) %}
    {% for perfil in social_media %}
                <li>
                    <a href="{{perfil.link}}" target="_blank"><i class="bi bi-{{perfil.name}}"></i></a>
                </li>
    {% endfor %}
{% endmacro %}

{% macro render_description(description) %}
                <p class="p-heading">{{description.titulo}}</p>
                <p class="separator"><br>{{description.descripcion}}</p>
                <p class="separator">{{description.opcional_descripcion}}</p>
{% endmacro %}

{% macro render_list_courses(courses) %}
    {% for course in courses %}
                <!-- courses item -->
                <article class="swiper-slide">
                    <div class="services-block">
                    <span>
                        <a href="{{course.url}}" target="_blank"><img src="{{url_for ('static', filename = course.icono_ruta)}}" alt=""></a>
                    </span>
                    <p>{{course.nombre.capitalize()}}</p>
                    </div>
                </article>
    {% endfor %}
{% endmacro %}

{% macro render_list__menu_works(works) %}
    {% for work in works %}
                <li data-filter=".filter-{{work.tipo}}">{{work.tipo}}</li>
    {% endfor %}
{% endmacro %}

{% macro render_list_works(works) %}
    {% for work in works %}
            <article class="col-lg-4 col-md-6 portfolio-item filter-{{work.tipo}}">
                <img src="{{url_for ('static', filename = work.archivos.0)}}" class="img-fluid" alt=""/>
                <div class="portfolio-info">
                    <h4>{{work.titulo}}</h4>
                    <p>{{work.descripcion}}</p>
                    <a href="{{url_for ('static', filename = work.archivos.1)}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{work.titulo}}"><i class="bx bx-plus"></i></a>
                    <a href="{{work.url_proyecto}}" target="_blank" class="details-link" title="More Details" ><i class="bx bx-link"></i ></a>
                </div>
            </article>
    {% endfor %}
{% endmacro %}

{% macro render_list_journal(journals) %}
    {% for journal in journals %}
                <article class="col-lg-4 col-md-6">
                    <div class="journal-info">
                        <a href="/blog"><img src="./static/{{journal.image}}" class="img-responsive" alt="img"/></a>
                        <div class="journal-txt">
                            <h4 class="h4">
                            <a href="/blog">{{journal.title}}</a>
                            </h4>
                            <p class="separator">{{journal.concept}}</p>
                        </div>
                    </div>
                </article>
    {% endfor %}
{% endmacro %}